<h1>All Rewards</h1>

<% if current_user %>
  <%= link_to "Manage Rewards", admin_rewards_path unless current_user.admin? == false %>
<% end %>

<ul>
  <% @rewards.each do |reward| %>
    <li>
      Reward: <%= reward.name %> <br>
      Cost: <%= reward.cost %>
  </li>
<% end %>
</ul>
