<h1>All Users</h1>

<ul>
  <% @users.each do |user| %>
    <li id="<%= user.username %>">
      username: <strong><%= user.username %></strong> | 
      points: <strong><%= user.points %> </strong> | 
      <%= link_to "manage points", edit_admin_user_path(user) %>
    </li>
  <% end %>
</ul>
